<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1, :class => "form-control" %>
  </div>
   <div class="field">
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2, :class => "form-control" %>
  </div>
   <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :State, "(tri-state only)"%> <br />
    <%= f.select :state, [["Connecticut", "CT"], ["New York", "NY"], ["New Jersey", "NJ"]] %>
  </div>  
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :class => "form-control" %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>