<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<% @categories.each do |category| %>
								<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><%= link_to category.title, category_path(category) %></h4>
								</div>
							</div>
							<%end%>
						</div><!--/category-products-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<%= image_tag Image.where(product: [@variant.product]).first.asset.url(:medium)%>
								<h3>NEW ARRIVAL</h3>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<%= image_tag "product-details/new.jpg", :class=>"newarrival"%>
								<h2><%=@variant.product.title%></h2>
								<p><b>SKU:</b> <%=@variant.sku%></p>
								<p><b>Availability:</b> <%if @variant.stock_level>0 %>In Stock<%else%>Not In Stock<%end%></p>								
								<span>
									<span>US <%=number_to_currency(@variant.price)%></span>									
								</span>
								
								
								<%= form_tag({:controller=>"cart_line_items",  :id => @variant.product.slug}, method: :post) do %>
								  <%= number_field_tag :quantity, '1'%>
								  <%if @variant.stock_level>0 %>
								  	<%= submit_tag 'Add to Cart', name: nil %>
								  <%else%>
									<%= submit_tag 'Add to Cart', name: nil, disabled: true %>
								  <%end%>
								  
								<% end %>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->					
					
					
					
					
				</div>
			</div>
		</div>
	</section>