<h1>Store Images</h1> 
Please add Images to your store <%= link_to "adding new images", new_image_path,   { :class=>"btn btn-default" } %>
<p>
<table class="table table-condensed">
		<thead>
			<tr>
				<td><b>Title</b></td>
				<td><b>Description</b></td>
				<td><b>Thumb</b></td>
				<td><b>Modify</b></td>				
			</tr>
		</thead>
	<% @images.each do |image| %>
		<tbody>
			<tr>				
				<td><%= image.title %></td>
				<td><%= image.description%></td>	
				<td><%= image_tag image.asset.url(:thumb)%></td>		
				<td><%= link_to "Edit", edit_image_path(image)%></td>			
			</tr>				
		</tbody>	
	<% end %>
	</table>
