<h1><%= @variant.product.title %></h1>
<%= @variant.product.description %>
<%= @variant.sku %>
<%= @variant.price %>
<%= link_to "Back", variants_path %>
<%= link_to "Edit", edit_variant_path(@variant)%>