<!DOCTYPE html>
<html>
<head>
  <title>Backend</title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		 <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">eCommerce On Rails</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	 <ul class="nav navbar-nav">
		        <li class="active"><%= link_to "Images", images_path %></li>
		        
		     </ul>
		     <ul class="nav navbar-nav navbar-right">
		     	<%if user_signed_in?%>
			     	<li><%= link_to current_user.email, edit_user_registration_path%></li>
			     	<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
			    <%else%>
			    	<li><%= link_to "Register", new_user_registration_path%></li>
			    	<li><%= link_to "Login", new_user_session_path%></li>
			     <%end%>
		     </ul>
	    </div>		 
	</div>
</nav>
<div class="container">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
</div>
</body>
</html>
